@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, dim, luxury, coffee, forest, abyss, silk;
  exclude: rootscrollgutter, rootcolor;
}